* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 320px;
  height: auto;
}

.nav {
  text-align: right;
  height: 5rem;
  line-height: 4.375rem;
}

.menu {
  margin: 0 30px 0 0;
  text-align: center;
  width: 100%;
  display: none;
}

.menu a {
  font-family: "IBMPlexMono";
  font-size: 1rem;
  color: #FFFFFF;
  clear: right;
  text-decoration: none;
  letter-spacing: 0;
  line-height: 1.625rem;
  display: block;
  text-align: left;
  padding: 2px;
  background-color: blue;
  width: 100%;
  position: relative;
  z-index: 2;
}

label {
  margin: 0 40px 0 0;
  font-size: 1.625rem;
  line-height: 4.375rem;
  display: block;
  width: 1.625rem;
  float: right;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

.icon {
  position: relative;
  right: 11rem;
}

@media screen and (min-width: 1000px) {
  .menu {
    display: block;
    position: absolute;
  }
  .menu a {
    display: inline;
    position: relative;
    left: 25rem;
    bottom: 0.5rem;
    padding: 0.625rem;
    color: #060A24;
    background-color: white;
  }
  .menu a:active {
    color: grey;
    text-decoration: line-through;
  }
  .menu a:hover {
    color: #00F3BB 100%;
    text-decoration: line-through;
  }
  .icon {
    margin-left: 3.75rem;
    width: 2rem;
  }
  #hamburguer {
    display: none;
  }
}

.title-1 {
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.625rem;
}

.title-1 .tachado {
  text-decoration: line-through;
}

.cont-title-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 12rem;
}

.title-2 {
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.625rem;
}

.titles-34 {
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.625rem;
}

.blue-title {
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 2.25rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 2.625rem;
  padding: 1.4375rem;
}

article p {
  font-family: "IBMPlexMono";
  font-size: 0.875rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 1.375rem;
}

.text-bfond-2 {
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 2.25rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2.625rem;
  padding-top: 4.5rem;
}

@media screen and (min-width: 1000px) {
  .title-1 {
    font-family: "IBM Plex Sans", "sans-serif";
    font-size: 4rem;
    color: #060A24;
    letter-spacing: 0;
    display: block;
    width: 50rem;
    box-sizing: border-box;
    position: relative;
    left: 15.625rem;
    top: 3.125rem;
  }
  .title-1 .punto-azul {
    color: blue;
  }
  h1 + p {
    font-size: 1rem;
    display: block;
    position: relative;
    top: 3.75rem;
    left: 15.625rem;
    width: 26.875rem;
  }
  .titles-34 {
    margin-left: 9em;
    padding: 1em;
  }
  .text-firstimg {
    display: inline-block;
    position: relative;
    left: 56.25rem;
    bottom: 13rem;
    font-family: "IBMPlexMono";
    font-size: 1rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.5rem;
  }
  .title-2 {
    display: inline-block;
    position: relative;
    left: 56.25rem;
    bottom: 15rem;
    font-family: "IBM Plex Sans", "sans-serif";
    font-size: 3rem;
    color: #060A24;
    letter-spacing: 0;
  }
  .blue-title {
    font-family: "IBM Plex Sans", "sans-serif";
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 5rem;
  }
  .text-bfond-2 {
    font-family: "IBM Plex Sans", "sans-serif";
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin-top: 8rem;
  }
}

.button {
  background: #00F3BB;
  width: 18.125rem;
  height: 3rem;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  border: none;
}

.button3 {
  text-decoration: none;
  color: #060A24;
  font-family: "IBMPlexMono-Medium";
}

.button3:hover {
  color: white;
  cursor: pointer;
}

.button2 {
  background: #00F3BB;
  width: 18.125rem;
  height: 3rem;
  font-family: "IBMPlexMono-Medium";
  font-size: 1rem;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.375rem;
  border: none;
  margin-top: 4rem;
  margin-left: 0.7rem;
}

.button4 {
  text-decoration: none;
  color: #060A24;
  font-family: "IBMPlexMono-Medium";
}

.button4:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .button-container-1 {
    display: block;
    position: relative;
    top: 6.25rem;
    left: 15.625rem;
  }
  .button2 {
    margin-left: 33rem;
  }
}

.contenedor-2 {
  width: 100%;
  height: 75rem;
  position: relative;
  top: 2.5rem;
}

.fondo-azul-1 {
  width: 100%;
  height: 75rem;
  margin-top: 3rem;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  z-index: -10;
  transform: skewY(-5deg);
  bottom: 1.25rem;
}

.contenedor {
  width: 100%;
  height: 21.25rem;
  position: relative;
  bottom: 2.5rem;
  overflow: hidden;
  bottom: 9rem;
}

.blue-fond-2 {
  width: 100%;
  height: 25rem;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  top: 1.5625rem;
  left: 0;
  z-index: -10;
  transform: skewY(-5deg);
}

@media screen and (min-width: 1000px) {
  .contenedor-2 {
    max-width: 87.5rem;
    width: 80rem;
    height: 62.5rem;
    margin-left: 6rem;
    position: relative;
    top: 20em;
  }
  .cont-spotify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .spotify {
    width: 30rem;
    height: 15rem;
    margin: 1rem;
  }
  .contenedor {
    max-width: 87.5rem;
    width: 80rem;
    height: 32.5rem;
    margin-left: 6rem;
    position: relative;
  }
  .blue-fond-2 {
    margin-top: 2.1875rem;
    height: 37.5rem;
    transform: skewY(-5deg);
  }
}

.image-1 {
  transform: translate(-20px, -60px);
}

.cont-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

@media screen and (min-width: 1000px) {
  .cont-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 20em;
  }
  .image-1 {
    transform: translate(350px, 200px);
    width: 450px;
    height: 660px;
  }
}

.iconos-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.icons {
  margin-left: 5rem;
}

.icons-title {
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 1.5rem;
  color: #060A24;
  letter-spacing: 0;
  margin-left: 4rem;
}

@media screen and (min-width: 1000px) {
  #icon-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 8rem;
    width: 100%;
    column-gap: 12%;
  }
  .icons {
    align-self: center;
  }
}

.footer {
  position: relative;
  text-align: center;
  font-family: "IBMPlexMono";
  font-size: 0.875rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  bottom: 5rem;
}

.footericon {
  position: relative;
  bottom: 4rem;
  text-align: center;
  letter-spacing: 0.875rem;
}

/* este text-block se usa en varias secciones*/
.text-block {
  display: inline-block;
  position: relative;
  bottom: 9.375rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    font-family: "IBMPlexMono";
    color: #060A24;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.75rem;
    display: inline-block;
    position: relative;
    left: 7.5rem;
    top: 0.875rem;
  }
  .footericon {
    display: inline-block;
    position: relative;
    left: 80rem;
    bottom: 0.625rem;
  }
}
/*# sourceMappingURL=index-main.css.map */