.image-1{

    transform: translate(10px, -60px);
}

.cont-img{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  margin: 0 auto;
}

.images{
  width: 100%;
  height: auto;
}

@media screen and (min-width: 900px) {
  .cont-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
  }

  .images{
    display: flex;
    flex-flow: row wrap;
    width: 28rem;
  }
  .image-1 {
    transform: translate(150px, 190px);
    width: 450px;
    height: 660px;
  }
}