@import "./variables.scss";

.button {
    background: #00F3BB;
    width: 18rem;
    height: 3rem;
    font-size: 1rem;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    border: none;
    margin: 1rem 0 1rem 3rem;
    color:#060A24;
    font-family: $third-letter;

    &:hover{
      color: white;
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
      cursor: pointer;
    }
  }

.button2 {
  background: #00F3BB;
  width: 18rem;
  height: 3rem;
  font-family: $third-letter;
  font-size: 1rem;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.375rem;
  border: none;
  margin-top: 4rem;
  margin-left: 2.3rem ;
  
  &:hover{
    color: white;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    cursor: pointer;
  }
}



@media screen and (min-width: 900px) {
    .button-container-1{
      display: block;
      position: relative;
      top: 6.25rem;
      left: 15.625rem;
    }
    .button2 {
        margin-left: 33rem;
      }
}