$primary-letter:'IBM Plex Sans', 'sans-serif';
$primary-color: #060A24;
$primary-font-size:  2.25rem;
$blue-color: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$second-letter: 'IBMPlexMono';
$second-color: #FFFFFF;
$third-letter: 'IBMPlexMono-Medium';